gym==0.12.1
matplotlib==3.5.2
nbformat>=5.1
pandas==1.5.1
ray==2.8.1
scikit-learn==1.1.2
torch==1.13.1
torchvision==0.13.0
tabulate
tensorboard==2.10.1
tensorflow==2.11.1
tensorflow-probability==0.18.0
numpy==1.23.3
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
grpcio>=1.53.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
